################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkFlowTestException/bin/Debug
/WorkFlowTest/bin/Debug
/WorkFlowTest/obj/Debug
/WorkFlowTestException/obj/Debug
/WorkFlowClient/obj/Debug
/WorkFlowClient/bin/Debug
/WorkFlow/bin/Debug
/WorkFlow/obj/Debug
